<p class="container">Hier komt informatie met de feitelijke gegevens over de stad.  Deze staat buiten de div zodat we de gehele schermbreedte nog kunnen gebruiken indien nodig.</p>
<div class="row">

  <div class="col s3 selections">
    {{fact-selector
      selectedIds=selectedTopicIds
      updateSelected=updateSelectedTopics}}
  </div>

  <div class="col s9 values">
    {{#liquid-bind regionThemes as |regionThemesVersion|}}
      {{#each regionThemes key="id" as |regionTheme index|}}
        {{#link-to 'drill' regionTheme value-id=regionTheme.id classNames="valuation"}}
          <div class="value">{{#each regionTheme.values as |value|}}{{value}} {{/each}}</div>
          <ul class="topics">
            {{regionTheme.title}}

            {{#each regionTheme.theme.topics as |topic|}}
              {{topic.title}}
            {{/each}}

            <!-- TODO : Maybe actually instantiate them? Default charts have bogus values -->
            {{#if (eq index 1)}}
              {{default-line-chart}}
            {{else}}
              {{default-pie-chart}}
            {{/if}}
          </ul>
        {{/link-to}}
      {{/each}}
    {{/liquid-bind}}
  </div>

</div>
