<div class="container">
  <h1>Drill down</h1>

  There is the value {{model.value}} with the topics:

  <ul>
    {{#each model.topics as |topic|}}
      <li>{{topic.title}}</li>
    {{/each}}
  </ul>

  <h2>In the news</h2>

  There are no linked articles to the current article.
  <div class="related-wrap">
    <div class="left-button" {{action "leftClick"}}>
      left
    </div>
    <div class="related">
      <h2>People that watched this also looked at:</h2>
      <ul class="charts" style="left:{{leftOffset}}px;">
        {{#each model.related as |related|}}
          <li>{{default-line-chart}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="right-button" {{action "rightClick"}}>
      right
    </div>
  </div>
</div>
