<main class="app">
  <aside class="app-aside">
    <header class="app-header">
      <h1><a href="/"><img src="../assets/img/logo.jpg" alt="logo"></a></h1>
    </header>

    <section class="news">
      <h2>Nieuws</h2>
      <div class="news-section">
        {{news-section}}
      </div>
    </section>
  </aside>

  <section class="app-main">
    <header class="header">
      <h2>{{model.title}}</h2>
    </header>
    <div class="content">
      {{chart-zoomed-value regionTheme=model value=model.values.firstObject additional=selectedTopics}}
    </div>
    <div class="widgets">
      <section class="widget">
        <header>
          <h3>More</h3>
        </header>
        <div class="tags">
          {{#each additionalTopics as |topic|}}
            <span {{action 'selectTopic' topic}}>{{topic.title}}</span>
          {{/each}}
        </div>
      </section>
      
      <section class="widget">
        <header>
          <h3>Topics</h3>
        </header>
        <div class="tags">
          {{#each (await renderedTopics) as |topic|}}
            <span class="tag">{{topic.title}}</span>
          {{/each}}
        </div>
      </section>

      <section class="widget related-wrap">
        <div class="left-button" {{action "leftClick"}}>
          left
        </div>
        <div class="related">
          <h2>People that watched this also looked at:</h2>
          <ul class="charts" style="left:{{leftOffset}}px;">
            {{#each model.related as |related|}}
              <li>{{default-line-chart}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="right-button" {{action "rightClick"}}>
          right
        </div>
      </section>
    </div>
  </section>

</main>
