<div class="container">
  <h1>{{model.title}}</h1>
  <div class="chart">
    {{chart-single-value regionTheme=model value=model.values.firstObject}}
  </div>
  <div class="topics">
    <h2>Relevant topics</h2>
    <ul>
      {{#each model.theme.topics as |topic|}}
        <li>{{topic.title}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="news">
    <h2>In the news</h2>
    {{news-section}}
  </div>

  <div class="related-wrap">
    <div class="left-button" {{action "leftClick"}}>
      left
    </div>
    <div class="related">
      <h2>People that watched this also looked at:</h2>
      <ul class="charts" style="left:{{leftOffset}}px;">
        {{#each model.related as |related|}}
          <li>{{default-line-chart}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="right-button" {{action "rightClick"}}>
      right
    </div>
  </div>
</div>
