<main class="app">
  <aside class="app-aside">
    <header class="app-header">
      <h1><img src="../assets/img/logo.jpg" alt="logo"></h1>
    </header>

    <section class="news">
      <h2>Nieuws</h2>
      <div class="news-section">
        {{news-section}}
      </div>
    </section>

    <div class="space"></div>
  </aside>

  <section class="app-main">
    <header class="header">
      <h2>{{model.title}}</h2>
    </header>
    <div class="content">
      {{chart-single-value regionTheme=model value=model.values.firstObject}}
    </div>
    <div class="widgets">
      <section class="widget">
        <header>
          <h3>More</h3>
        </header>
        <div class="tags">
          {{#each model.theme.topics as |topic|}}
            <span class="tag">{{topic.title}}</span>
          {{/each}}
        </div>
      </section>
      <section class="widget">
        <header>
          <h3>Relevant</h3>
        </header>
        {{#each model.related as |related|}}
          <div>{{default-line-chart}}</div>
        {{/each}}
      </section>
    </div>
  </section>
</main>
